{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    {% comment %}
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}" />
    {% endcomment %} {% if object.title %}
    <title>Library Management | {{object.title}}</title>
    {% else %}
    <title>Library Management</title>
    {% endif %}
  </head>
  <body>
    <nav class="navbar-fixed green accent-3">
      <div class="container nav-wrapper ">
        <a href={% url 'book-home' %} class="brand-logo">Library Management</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>

    {% block content %}{% endblock content %}


  </body>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script>
    $(document).ready(function () {
      $(".sidenav").sidenav();
    });
  </script>
</html>
